<h1><%= t("auth.add_user") %></h1>

<%= form_with model: @user, url: registrations_path, class: "auth-form" do |f| %>
  <% if @user.errors.any? %>
    <div class="error-explanation">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email_address, t("auth.email") %>
    <%= f.email_field :email_address, required: true, autofocus: true, placeholder: "user@example.com" %>
  </div>

  <div class="field">
    <%= f.label :password, t("auth.password") %>
    <%= f.password_field :password, required: true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t("auth.password_confirm") %>
    <%= f.password_field :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.submit t("auth.create_user"), class: "btn" %>
  </div>
<% end %>

<%= link_to t("auth.back_to_users"), registrations_path %>
