<h1><%= t("site.title") %></h1>
<p class="subtitle"><%= t("site.subtitle") %></p>

<%= render "search_nav" %>

<%= turbo_frame_tag "results" do %>
  <p class="word-count"><%= @pagy.from %>–<%= @pagy.to %> / <%= @pagy.count %></p>
  <div class="word-list">
    <%= render @words %>
  </div>
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
<% end %>
